
:root {
    --green: #487B72;
    --yellow: #F7BB34;
    --skin: #FBF1E1;
    --light_skin: #FEFAF4;
}

* {
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    transition: width none;
}
.myTable td:nth-child(2){
    width:300px;
    line-height:1.5;
}
.content_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .content_header button {
        background: var(--yellow);
        border-radius: 20px;
        color: black;
        font-weight: bold;
        font-size: .8rem;
        padding: .1rem 0.5rem;
    }
        .content_header button:hover {
            background: var(--green);
            box-shadow: 0 0 20px 0px #F7BB34;
            color: white;
            cursor:pointer;
        }
.content_header button span{
    margin:auto;
}
.fa-plus-circle {
    transform: translateY(15%);
}
.content_header select option{
    color:white;
}
.content_header select{
    background-color: var(--green);
    padding:5px;
    border-radius:5px;
    color:white;
}
.myTable tr:hover {
    background-color: var(--light_skin);
}
.fas:hover{
    cursor:pointer;
    color:var(--yellow);
}