:root {
    --green: #487B72;
    --yellow: #F7BB34;
    --skin: #FBF1E1;
    --light_skin: #FEFAF4;
}

* {
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    transition: width none;
}
.customer{
    display:flex;
    margin:20px auto 30px auto;
    width:100%;
    justify-content:space-evenly;
}
.customer_info {
    width: 35%;
    font-size: 15px;
    color: white;
    background-color: var(--green);
    padding: 10px;
}
.invoice {
    width: 35%;
    font-size: 15px;
    color: white;
    background-color: var(--green);
    padding: 10px;
}
/*RESPONSIVE*/
@media screen and (max-width: 900px) {
    *{
        font-size: 14px;
    }
    .header {
        flex-direction: column;
    }
    .information{
        overflow-x:auto;
    }

        .header .user {
            position: relative;
            bottom: 10px;
            left: 50px;
        }
    .customer {
        flex-direction: column;
    }

        .customer .customer_info {
            width: 100%;
            margin-bottom: 10px;
        }

        .customer .invoice {
            width: 100%;
        }

    .myTable {
        overflow-x: auto;
    }
}

