:root {
    --green: #487B72;
    --yellow: #F7BB34;
    --skin: #FBF1E1;
    --light_skin: #FEFAF4;
}

* {
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    transition: width none;
}
.customer{
    display:flex;
    margin:auto;
}
.customer_info {
    width: 35%;
    font-size: 15px;
    color: white;
    background-color: var(--green);
    padding: 10px;
    margin-right:30px;
}
.invoice {
    width: 35%;
    font-size: 15px;
    color: white;
    background-color: var(--green);
    padding: 10px;
}
