/*SIDEBAR*/
:root {
    --green: #487B72;
    --yellow: #F7BB34;
    --skin: #FBF1E1;
    --light_skin: #FEFAF4;
}

* {
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    transition: width none;
}
.mybody{
    display:flex;
}
.mycontent {
    width: 100%;
    margin: auto;
    background-color: var(--skin);
    margin-top: 30px;
}
.mycontent {
    padding: 10px;
}

/*-------------------------------------------SIDEBAR----------------------------------------------------*/
.logo{
    width:100%;
    background-color: var(--green);
    display:flex;
    justify-content:center;
}
.logo img{
    margin-top:10px;
    margin-bottom:10px;
}
.sidebar {
    width: 20%;
    z-index: 1;
    background-color: var(--skin);
    border-right: 1px solid black;
    height: 100vh;

   
}

    .sidebar a, .dropdown_btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
        color: black;
    }

.dropdown-container {
    display: block;
    text-decoration: none;
    background-color: var(--green);
}

    .dropdown-container a {
        border: none;
        color:white;
    }

.sidebar a:hover, .dropdown-btn:hover {
    color: var(--yellow);
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}


    .fas{
        width:24px;
        height:24px;
    }
    /*SEARCHBOX*/
div.search_box {
    display: flex;
    height: 40px;
    width: 60%;
    border: 1px solid white;
    border-radius: 20px;
    margin: auto;
    background-color: white;
}

#search {
    height: 100%;
    width: 95%;
    border-radius: 20px;
    margin: 0;
    padding: 10px 20px;
}

span {
    display: flex;
    align-items: center;
}

    span img.fa-search {
        height: 30px;
        width: 30px;
    }
   /*------------------------------------ HEADER---------------------------------------*/
.content {
    width: 80%;
    background-color: var(--light_skin);
}

.header {
    height: 90px;
    background-color: var(--green);
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}
.title{
    color: var(--yellow);
    font-size:32px;
    margin-left:30px;
    font-style:normal;
}
.fa-bell{
    float:right;
    color:var(--yellow);
    margin-right: 60px;
}
.header p{
    font-size:16px;
    font-weight:700;
    color:white;
    margin-right:100px;
}
.fa-search{
    color:black;
}
/*----------------------------RESPONSIVE---------------------------*/
#check{
    display:none;
}
label #btn, label #cancel{
    position:absolute;
    cursor:pointer;
    display:none;
}
/*label #btn{
    left:40px;
    top:25px;
    color:white;
}
label #cancel{
    z-index:1111;
    left: -20%;
    color:white;
}
#check:checked ~ .sidebar{
    left:0;
}
#check:checked ~ label #btn {
    left:20%;
    opacity:0;
    pointer-events:none;
}
#check:checked ~ label #cancel {
    left: 20%;
}
#check:checked ~ .content{
    width:80%;
}
@media screen and (max-width: 900px){
    .sidebar {
       display:none;
       background-color: purple;
    }
}*/
