* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 20px;
}

:root {
    --green: #487B72;
    --yellow: #F7BB34;
    --skin: #FBF1E1;
    --light_skin: #FEFAF4;
}

body {
    background: var(--light_skin);
    text-transform: none;
    line-height:1.5;
}

.container_about {
    max-width: 1000px;
    margin: 2.5em auto 3em auto;
}

.title_about {
    width: 100%;
    text-align: center;

}

.tittle {
    font-size: 1.8rem;
    color: var(--yellow);
    font-weight: bold;
    text-transform: none;
}

hr {
    border-top: 2px solid var(--yellow);
    margin: 0.7em 0 0 0;
    width: 50%;
}

.about {
    margin-top: 2em;
}

.demo {
    text-transform: uppercase;
}

.demo tr td{
    padding:10px;
}

    .demo tr {
        padding: 10px;
    }

.header {
    font-size: 1.35rem;
    color: var(--green);
    font-weight: bold;
    padding-left: 2em;
    margin-top: 2em;
    text-transform: none;
}

.text {
    background: var(--skin);
    padding: 1em 1.5em;
    font-size: 1em;
    margin-top: 1em;
    text-transform: none;
    line-height: 1.5;
}

.bg_about img {
    width: 100%;
    height: 100%;
}

.vision {
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
}

.bg_about {
    width: 40%
}

.container_vision {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content_1 {
    width: 100%;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    text-transform: none;
    line-height: 1.5;
    transition: all .2s ease-in-out;
}

.content_1:hover{
    transform: scale(1.1);
}

.circle {
    border-radius: 2em;
    background: var(--yellow);
    position: relative;
    padding: 0.5em 1em;
    text-align: center;
    font-weight: bold;
    width: 40%;
    margin: auto;
    z-index: 1;
    top: 15%;
    text-transform: none;
    line-height: 1.5;
}

.circle_2 {
    border-radius: 2em;
    background: var(--yellow);
    position: relative;
    padding: 0.5em 1em;
    text-align: center;
    font-weight: bold;
    width: 40%;
    margin: auto;
    z-index: 1;
    top: 10%;
    text-transform: none;
    line-height: 1.5;
}

.nd {
    background: var(--skin);
    padding: 1.7em 1em 0.7em 1em;
    z-index: 11;
    border-radius: 1em;
    text-transform: none;
    line-height: 1.5;
}


#container_member {
/*    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-row-gap: 2em;
    justify-content:space-between;*/
}

.member{
    text-align:center;
    line-height:1.5;
}

table{
    width:100%;
    text-align: center;
    line-height:1.5;

}

.tittle_member {
    display: flex;
    justify-content: space-between;
}

.seeAll {
    text-align: end;
    background: none;
    font-size: 20px;
    color: var(--yellow);
    margin-top: 2em;
    margin-right:10px;
}

.text_1 {
    background: var(--skin);
    padding: 1em 1.5em;
    font-size: 1em;
    margin-top: 0.5em;
    text-transform: none;
}

name[type='tittle_memberName'] {
    color:var(--green);
    font-weight: bold;
}

name[color='green'] {
    background-color: #2f2;
}

/*-------------------------------------------*/
.member_container{
    display:flex;
    justify-content:space-between;
    margin:20px 0 0 0;
}

.member {
    width: 23%;
}

.member_card {
    background: var(--skin);
    width: 23%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 1em;
    text-align: center;
    padding: 10px;
    text-align: center;
}

    .member_card img {
        border-radius: 50%;
        object-fit: cover;
        width: 40%;
        top: 50%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background: #FBF1E1;
        border: 2px solid var(--yellow)
    }

    .name{
        font-size:18px;
        font-weight:bold;
        color: var(--yellow);
    }

    .quote{
        font-size: 16px;
        font-style:italic;
    }

.line {
    border-top: 1px solid var(--yellow);
    margin: 0.2em 0 0.2em 0;
    width: 100%;
    text-align:center;
    margin:10px 0;
}

.member_card:hover {
    transform: scale(1.05);
}

/*---------------------------------------------*/
.card {
    width: 23%;
    display: grid;
    grid-template-areas: "image" "text" "stats";
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 1em;
    background: white;
    text-align: center;
}

.card-image {
    grid-area: image;
    margin-top: 20px;
}

    .card-image img {
        border-radius: 50%;
        object-fit: cover;
        width: 50%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background: #FBF1E1;
        border: 2px solid var(--yellow)
    }

.card-text {
    grid-area: text;
    margin: 20px;
}

.card-stats {
    grid-area: stats;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background:var(--yellow);
    padding:10px;
}
    .card:hover {
        transform: scale(1.05);
    }

/*-------------------------------------------*/
@media screen and (max-width: 500px) {
    .vision {
        display: block;
    }

    .member_container{
        display:block;
    }

    .card{
        margin:20px auto;
        width:60%;
    }
    .container_vision {
        display: block;
        flex-direction: row;
        width: 100%;
    }
    .bg_about {
        width: 100%;
        height: 100%;
    }

    .content_1{
        margin-top:1em;
    }

    .circle {
        border-radius: 1.5em;
        width: 70%;
    }

    .circle_2 {
        border-radius: 1.5em;
        width: 70%;
    }
}
