:root {
    --green: #487B72;
    --yellow: #F7BB34;
    --skin: #FBF1E1;
    --light_skin: #FEFAF4;
}

* {
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s linear;
    transition: width none;
}




.listbook {
    margin: 1em auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    max-width: 1000px;
    justify-content: center;
    height: auto;
    padding: 0 20px;
}
    .listbook .all {
        cursor:pointer;
        top: 50%;
        transform: translateY(-90%);
        color: var(--green);
        text-decoration:none;
    }
    .listbook .all:hover {
        color: var(--yellow);
       
    }
.cs-hidden {
    height: auto;
    justify-content: center;
}
.cs-hidden2 {
    height: auto;
    max-width: 1000px;
    justify-content: center;
    padding: 0 20px;
}
.cs-hidden3 {
    height: auto;
    max-width: 1000px;
    justify-content: center;
    padding: 0 20px;
}
.cs-hidden4 {
    height: auto;
    max-width: 1000px;
    justify-content: center;
    padding: 0 20px;
}
.cs-hidden5 {
    height: auto;
    max-width: 1000px;
    justify-content: center;
    padding: 0 20px;
}
.box_best_sellers {
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    overflow: hidden;
    background: var(--skin);
    padding: 7px;
    box-sizing: border-box;
    margin: 1em 0 1em 15px;
}

.box_img {
    height: 200px;
}

    .box_img img {
        cursor:pointer;
        width: 100%;
        height: 100%;
        border-radius:10px;
    }
        .box_img img:hover {
            transform: translateY(5%);
        }

.box_tittle {
    cursor: pointer;
    text-align: center;
    background: var(--skin);
    margin-top: 10px;
    text-transform: none;
}
    .box_tittle a {
        cursor: pointer;
        color: black;
        text-decoration:none;
       
    }
    .box_tittle p {
        cursor:pointer;
        margin: 5px;
        color:black;
        text-transform: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
    }
    .box_tittle p:hover {
      color:var(--yellow);
    }

.slick-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: var(--green);
    z-index: 2;
    color: white;
    padding: 10px;
    border-radius:10px;
}
    .slick-prev:hover {
        color: var(--green);
        background-color:var(--yellow);
    }
.slick-next {
    position: absolute;
    right:0;
    top: 50%;
    transform: translateY(-50%);
    background: var(--green);
    z-index: 2;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.slick-next:hover {
    color: var(--green);
    background-color: var(--yellow)
}


    .listbook .listbook-heading {
        margin: 10px 30px 0px;
        font-weight: bold;
        font-size: 20px;
    }
.book-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 150px;
    background-color: var(--skin);
    margin: 20px;
}

.book-box-img {
    width: 100%;
    height: 235px;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

    .book-box-img img {
       width:100%;
        object-fit: cover;
        align-items: center;
        text-align: center;
        border-radius:10px;
    }

        .book-box-img img:hover {
            transform: translateY(5%);
        }

.book-box-content strong {
    margin: 0px;
    font-size: 14px;
    text-align: center;
    width: 150px;
}

.book-box-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

    .book-box-content p {
        margin: 0px;
        font-size: 16px;
        text-align: center;
    }



@media screen and (min-width: 500px) {


    .authorbook-1 {
        align-content: center;

     
    }
    .listbook {
        border-top: 1px solid #487B72;
        width: 100%;
        margin: 30px auto;
        background-color: var(--light_skin);
        padding: 10px 50px 10px 50px;
    }
    .author-h {
   
        margin: 30px auto;
        background-color: var(--light_skin);
        align-items: center;
        text-align: center;
        padding: 10px 50px 10px 50px;
        border-top: 1px solid #487B72;
        box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    }
}


#listsachjson {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

