* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 20px;
}

:root {
    --green: #487B72;
    --yellow: #F7BB34;
    --skin: #FBF1E1;
    --light_skin: #FEFAF4;
}

body {
    background: var(--light_skin);
}

.container_policy {
    max-width: 1000px;
    margin: 2.5em auto 2.5em auto;
    align-items: flex-start;
}

.tittle {
    font-size: 1.6rem;
    color: var(--yellow);
    font-weight: bold;
    width: 100%;
    text-align: center;

}

.content_1 {
    margin-top: 2em;
}

.header_1 {
    font-size: 1.2rem;
    color: var(--green);
    font-weight: bold;
    padding-left: 2em;
}

.text_1 {
    background: var(--skin);
    padding: 1em 1.5em;
    font-size: 0.8em;
    margin-top: 0.5em;
}

@media screen and (max-width: 620px) {
    .container_policy {
        margin: 10% 1em 10% 1em;
    }
}
