:root {
    --green: #487B72;
    --yellow: #F7BB34;
    --skin: #FBF1E1;
    --light_skin: #FEFAF4;
}

* {
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    transition: width none;
}

.thanhtoan_body{
    width: 80%;
    margin:auto;
    display: flex;
    flex-direction:row;
}

.list_thanhtoan{
    width: 50%;
    /*float: left;*/
    /*background-color: aquamarine;*/
}

#giaohang {
    /* border-collapse: collapse;*/
    border-spacing: 0px;
    width: 90%;
    margin: auto;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
}

#giaohang tr {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#giaohang tr:nth-child(odd) td{
    border-top: 1px solid black;
}

#giaohang tr:first-child td {
    border-top: none
}

#giaohang tr:nth-child(odd) td:first-child{
    font-weight: 600;
    color: var(--green);
}
.fa-money-bill-wave{
    color: var(--green);
}
.fa-credit-card{
    color: red;
}
.fa-cc-visa{
    color: dodgerblue;
}

.list_thanhtoan span input{
    margin-top: 20px;
    margin-left: 10px;
}

#dieukhoan{
    color: var(--yellow);
}

.move_btn {
    background-color: var(--yellow);
    border-radius: 10px;
    height: 50px;
    width: 150px;
    box-shadow: 2px 2px #888888;
    cursor: pointer;
    margin: 20px 0 30px 30%;
}

.list_Book{
    width: 50%;
}




